<div class='container'>
  <section>
    <div class='row'>
      <div class='col-md-6 mt-5' routerLink='/content/ansiedade'>
        <mdb-card class='fluent-card'>
          <mdb-card-body>
            <mdb-card-title>
              <img class='icon-menu' src='assets/menu/anxiety.svg'>
              <h4 class='font-poppins'>Ansiedade</h4>
            </mdb-card-title>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class='col-md-3 mt-5'>
        <mdb-card class='fluent-card'>
          <mdb-card-body>
            <mdb-card-title>
              <img class='icon-menu' src='assets/menu/anxiety.svg'>
              <h4 class='font-poppins'>Ansiedade</h4>
            </mdb-card-title>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class='col-md-3 mt-5'>
        <mdb-card class='fluent-card'>
          <mdb-card-body>
            <mdb-card-title>
              <img class='icon-menu' src='assets/menu/anxiety.svg'>
              <h4 class='font-poppins'>Ansiedade</h4>
            </mdb-card-title>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </section>
</div>
